@import url(../styles/variables.css);

/* agregar en este archivo cambios css para esta page */

.maps {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	max-width: 90%;
}

h1 {
	animation: textAnimation 0.9s;
	text-align: center;
	color: var(--bg-color-secundario);
	font-weight: bold;
	font-size: 3rem;
}
