@import url('./variables.css');

.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px 25px;
	background-color: var(--bg-color-secundario);
	color: var(--text-color-primary);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9000;
}

.nav-links a {
	color: var(--text-color-primary);
	text-decoration: none;
}

/* LOGO */
.logo {
	font-size: 32px;
}

/* NAVBAR MENU */
.menu {
	display: flex;
	gap: 1em;
	font-size: 18px;
	justify-content: space-evenly;
}

.menu li {
	border-radius: 20px;
	padding: 5px 14px;
	list-style: none;
	transition: background-color 0.4s ease;
}

.menu li:hover {
	background-color: var(--bg--button-hoover);
}

nav input[type='checkbox'] {
	display: none;
}

.hamburger {
	display: none;
	font-size: 24px;
	user-select: none;
}

/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
	.menu {
		display: none;
		position: absolute;
		background-color: var(--bg-color-secundario);
		right: 0;
		left: 0;
		margin-top: 10px;
		text-align: center;
		padding: 16px 0;
		border-top: 2px solid #000;
	}
	.navbar {
		margin: 0;
	}

	.menu li {
		display: inline-block;
	}

	.menu li + li {
		margin-top: 12px;
	}

	input[type='checkbox']:checked ~ .menu {
		display: block;
	}

	.hamburger {
		display: block;
	}
}

@media (max-width: 810px) {
	.navbar {
		margin: 0;
	}
}
