:root{
  --bg-color-principal :#F5C7D3;
  --bg-color-secundario: #B998B3;
  --card-color-principal: #C5B3B3;
  --bg-boton-principal: #B998B3; 
  --bg--button-hoover: #77779D;
  --text-color-primary: #000000;
  --text-color-secondary: #FDEFB0;
  
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  margin-left: 4vw;
  margin-right: 4vw;
  background-color: var(--bg-color-secundario);
  color: var(--text-color-primary);
}

.nav-links a {
  color: var(--text-color-primary);
}

/* LOGO */
.logo {
  font-size: 32px;
}

/* NAVBAR MENU */
.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
  justify-content: space-evenly
}

.menu li:hover {
  background-color: var(--bg--button-hoover);
  border-radius: 20px;
  transition: 0.3s ease;
}

.menu li {
  padding: 5px 14px;
}

input[type=checkbox] {
  display: none;
} 


.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
}


.card {
  background-color: var(--bg-color-secundario);
  color: white;
  padding: 1rem;
  height: 4rem;
  
  
}


/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
 .menu {
    display:none;
    position: absolute;
    background-color:var(--bg-color-secundario);
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }
  .navbar{
    margin: 0;
  }
  .menu li:hover {
    display: inline-block;
    background-color:var(--bg--button-hoover);
    transition: 0.3s ease;
  }

  .menu li + li {
    margin-top: 12px;
  }

  input[type=checkbox]:checked ~ .menu {
    display: block;
  }

  .hamburger {
    display: block;
  }
}

@media (max-width: 810px) {
  .navbar{
    margin: 0;
  }

}

@media (min-width: 600px) {
  .container { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 900px) {
  .cards { grid-template-columns: repeat(3, 1fr); }
}