@import url('./variables.css');
@import url('./navbar.css');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
	color: #000;
}

a:active {
	color: var(--text-color-secondary);
}

body {
	font-family: Arial, Helvetica, sans-serif;
	overflow-x: hidden;
	background-color: var(--bg-color-principal);
}

button {
	background-color: var(--bg-boton-principal);
	background: var(--bg-boton-principal);
	border-radius: 50px;
	padding: 10px 15px;
	margin: 5px;
	font-weight: 700;
	border: 0cap;
	transition: all 0.3s;
}

button:hover {
	background-color: var(--bg--button-hoover);
	transform: scale(1.1);
}

.servicios-images {
	max-width: 100%;
	height: auto;
}

.responsive-images {
	width: 100%;
	height: auto;
}

.main-section,
.main {
	padding: 40px;
	background-color: var(--bg-color-principal);
	margin: 0;
	margin-top: 55px;
}

.container {
	max-width: 100%;
	margin: 0 auto;
	display: grid;
	gap: 1rem;
}

.container-2 {
	max-width: 100%;
	height: auto;
}

.container-contact {
	max-width: 100%;
	gap: 0;
}

.contact-card {
	max-width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

.card {
	background-color: var(--card-color-principal);
	color: var(--text-color-primary);
	padding: 1.3rem;
	height: auto;
}
.home-card {
	background-color: transparent;
	gap: 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h3 {
	text-shadow: 0.1px 0.1px 5px #fff;
}

.card form {
	display: flex;
	flex-direction: column;
	max-width: 90%;
	gap: 10px;
	background-color: var(--card-color-principal);
}
.card form textarea {
	max-width: 90%;
	min-height: 80px;
	resize: none;
}
.card form input,
textarea {
	padding: 5px 10px;
	outline: none;
	border-radius: 3px;
	border: none;
	box-shadow: -1px 2px 3px #00000081;
	background-color: #d9d9d9;
}

#home {
	/* -- se mueve el background al id HOME para evitar conflicto con los containers y otras sections -- */
	background-image: var(--bg--home-image);
	background-size: cover;
	background-repeat: no-repeat;
}

.iframe-container {
	position: relative;
	overflow: hidden;
	width: 100%;
	padding: 0; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
	height: 0;
}

.responsive-iframe {
	position: relative;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 50vh;
}

.footer-container {
	display: flex;
	background-color: var(--bg-color-secundario);
	flex-direction: row;
	justify-content: space-evenly;
	padding: 10px;
}

.redes {
	padding: 10px;
}

@media (min-width: 900px) {
	.container-3 {
		grid-template-columns: repeat(3, 1fr);
	}
	.main-section {
		padding-right: 4vw;
		padding-left: 4vw;
	}
}

@media (min-width: 600px) {
	.container {
		grid-template-columns: repeat(2, 1fr);
	}
	.main-section {
		padding-right: 4vw;
		padding-left: 4vw;
	}
	.contact-card {
		flex-direction: column;
	}
}

@media (max-width: 900px) {
	.main-section {
		margin-top: 65px;
		padding: 10px;
	}

	.main {
		padding: 10px;
	}
}
