
@import url("./variables.css");
@import url("./navbar.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth ;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

button{
  background-color: var(--bg-boton-principal);
  background: var(--bg-boton-principal);
  border-radius: 50px;
  padding: 5px;
  margin: 5px;
  border: 0cap;
}

button:hover{
  background-color: var(--bg--button-hoover);
}

.servicios-images{
  max-width: 100%;
  height: auto;
}

.responsive-images{
  width: 100%;
  height: auto;
}

.main-section{
  background-color: var(--bg-color-principal);
  margin-right: 4vw;
  margin-left: 4vw;
  margin-top: 1vw;
  padding: 1vw;

  /* -- Ajusta el tamaño de los SECTIONS para que ocupen un 100% aproximado por el margen colocado -- */
  width: 92%;
  height: 96vh;
  
}
#home {
  /* -- se mueve el background al id HOME para evitar conflicto con los containers y otras sections -- */
  background-image: url("../assets/img/combs-scissors-copy-space.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.container-2{

  max-width: 100%;
}



.container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
}


.card {
  background-color: var(--card-color-principal);
  color: var(--text-color-primary);
  padding: 1rem;
  height: auto;
  /* -- Deja Centrado los Elementos del HOME  vertical y horizontalmente -- */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-card{
  background-color: transparent;
  gap: 40px;
}
.home-buttons button{
  padding: 10px;
  font-size: 20px;
  transition: all ease-in-out 0.3s;
}

@media (min-width: 600px) {
  .container { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 900px) {
  .container-3 { grid-template-columns: repeat(3, 1fr); }
}

@media (max-width: 1200px) {
  #home {
    background-image: none;
  }
}