:root{
    --bg-color-principal :#F5C7D3;
    --bg-color-secundario: #B998B3;
    --card-color-principal: #C5B3B3;
    --bg-boton-principal: #E7A8B1; 
    --bg--button-hoover: #77779D;
    --text-color-primary: #000000;
    --text-color-secondary: #FDEFB0;
    --bg--home-image: url("../assets/img/combs-scissors-copy-space.jpg");
  }