:root {
	--bg-color-principal: #f5c7d3;
	--bg-color-secundario: #b998b3;
	--card-color-principal: #c5b3b3;
	--bg-boton-principal: #e7a8b1;

	--text-color-primary: #000000;
	--text-color-secondary: #fdefb0;
	--bg--home-image: url('../assets/img/combs-scissors-copy-space.jpg');
  --home-image: url("../assets/img/combs-scissors-copy-space.jpg");
}

@keyframes textAnimation {
	0% {
		translate: -1000px;
	}
	100% {
		translate: 0px;
	}
}

@keyframes imgAnimation {
	0% {
		translate: 3000px;
	}
	100% {
		translate: 0px;
	}
}
